<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wa2c.android.medoly.plugin.action.tweet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:description="@string/app_description"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="plugin_twitter"
                    android:scheme="medoly" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="medoly-twitter-plugin" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.EditActivity"
            android:label="@string/title_activity_edit"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask" />

        <!-- Service -->

        <service
            android:name=".service.PluginPostService"
            android:exported="false" />

        <!-- Plugin event action -->

        <receiver
            android:name=".service.PluginReceivers$EventPostTweetReceiver"
            android:exported="true"
            android:icon="@drawable/ic_post"
            android:label="@string/label_event_tweet">

            <!-- Tweet -->
            <intent-filter android:priority="110">
                <action android:name="com.wa2c.android.medoly.plugin.action.ACTION_MEDIA" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.wa2c.android.medoly.plugin.category.TYPE_POST_MESSAGE" />
                <category android:name="com.wa2c.android.medoly.plugin.category.OPERATION_PLAY_START" />
                <category android:name="com.wa2c.android.medoly.plugin.category.OPERATION_PLAY_NOW" />
            </intent-filter>

        </receiver>

        <!-- Plugin execution action -->

        <activity
            android:name=".activity.ShareTweetActivity"
            android:exported="true"
            android:icon="@drawable/ic_post"
            android:label="@string/label_execute_tweet"
            android:launchMode="standard">
            <intent-filter android:priority="109">
                <action android:name="com.wa2c.android.medoly.plugin.action.ACTION_MEDIA" />

                <category android:name="com.wa2c.android.medoly.plugin.category.TYPE_RUN" />
                <category android:name="com.wa2c.android.medoly.plugin.category.OPERATION_EXECUTE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.TwitterPageActivity"
            android:exported="true"
            android:icon="@drawable/ic_twitter"
            android:label="@string/label_execute_site"
            android:launchMode="standard">
            <intent-filter android:priority="108">
                <action android:name="com.wa2c.android.medoly.plugin.action.ACTION_MEDIA" />

                <category android:name="com.wa2c.android.medoly.plugin.category.TYPE_RUN" />
                <category android:name="com.wa2c.android.medoly.plugin.category.OPERATION_EXECUTE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".util.ToastReceiver"
            android:exported="false" />

    </application>

</manifest>
